<link rel = 'stylesheet' href = '/css/index.css' type = 'text/css' charset = 'utf-8'>

<div class = 'col'>
    <h1 class = 'display-1'>
        Welcome to <strong>AIT</strong>etris
    </h1>
    <h2 class = 'pt-3'>
        Here, you can <strong><a href ='/watch'>watch</a></strong> interactive replays of Tetris games, <strong><a href = '/play'>play</a></strong> Tetris game modes that other users have designed, or even <strong><a href = '/create'>create</a></strong> your own Tetris variant.
    </h2>
    <h2 class = 'pt-3'>
        Basically, it's a lot of Tetris.
    </h2>
    <h2 class = 'pt-3'>
        By the way, I don't own Tetris.
    </h2>
</div>